

<footer class="footer">

    <div class="row">

<div class="col-lg-6">
  <a class="col-lg-12 foo-link text-grey" href="{% url 'statii' %}">Статьи</a>
    <a class="col-lg-12 foo-link text-grey" href="{% url 'zamer' %}">Бесплатный замер</a>
    <a class="col-lg-12 foo-link text-grey" href="{% url 'catalog' %}">Наш каталог</a>
</div>
        <div class="col-lg-6">
            <a class="col-lg-12 foo-link text-grey" href="{% url 'contact' %}">Наши контакты</a>
            <a class="col-lg-12 foo-link text-grey" href="#">Отзывы</a>
            <a class="col-lg-12 foo-link text-grey" href="{% url 'onas' %}">О нас</a>
        </div>
        </div>


</footer>