


<div class="container">
<ul class="nav nav-pills nav-fill p-1">


    <li class="nav-item">
        <a class="nav-link"  style="color: #000;" href="/">О магазине</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  style="color: #000;" href="{% url 'catalog' %}">Каталог</a>
  </li>
    <li class="nav-item">
    <a class="nav-link"  style="color: #000;" href="#">Заказы</a>
  </li>
 <li class="nav-item">



{% if user.is_authenticated %}
           <span class="nav-link" style="color: #000;" >{{ user }}</span>
     <a class="nav-link" style="color: #000;"
          href="{% url 'signout' %}">Выход</a>
          {% else %}
          <a href="{% url 'register' %}">Регистрация</a><a href="{% url 'login' %}">Войти</a>
      {% endif %}
  </li>
   <li class="nav-item">
    <a class="nav-link"  style="color: #000;" href="{% url 'contact' %}">Контакты</a>
  </li>
  <li class="nav-item">
      <div class="basket-container position-relative w-400% p-2" style="color: #000;">

        <a href="{% url 'checkout' %}">Корзина<span id="basket_total_amount"></span><span id="basket_total_nmb">
            {% if products_total_nmb %}
                ({{ products_total_nmb }})
            {% else %}
                (0)
            {% endif %}
        </span></a>
      <div class="basket-items hidden position-absolute top-50 w-100% z-index-10 p-4">
          <ul class="">
              {% for product_in_basket in products_in_basket %}
              <li>
                  {{ product_in_basket.product.name }}  {{  product_in_basket.nmb }} шт.
                  по {{ product_in_basket.price_per_item }} P
              <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">x</a>
              </li>
              {% endfor %}
          </ul>
      </div>
      </div>

  </li>

</ul>

</div>
