{% extends 'base.html' %}
{% load static %}


  {% block content %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col">
    <div class="card">
      <img src="{% static 'shop/img/promerzayut-okna.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Причины промерзания окон</h5>



   <p class="card-text"> Пластиковые окна должны обеспечивать максимальные комфорт и тепло. Если на улице -15, дома явно должно быть больше, а не столько же. Согласны?
Окна ПВХ могут промерзать и продуваться по разным причинам. Самая частая – износ резинового уплотнителя. Для улучшения ситуации его нужно заменить. Также следует проверить откосы, их изоляцию, качество утепления, отсутствие брака в монтажной пене. Замену делать обычно не нужно – достаточно смонтировать откосы, иногда и подоконник заново.



 </p>




      </div>


    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'shop/img/prof_sys.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">На что влияет ширина оконного профиля</h5>
        <p class="card-text">При выборе профиля можно ориентироваться на такое сравнение. Решите, какая толщина кирпичной стены была бы оптимальной, после оформляйте заказ на окна соответствующей толщины.Есть и другой принцип: чем шире оконный профиль, тем тише и теплее будет стеклопакет. Для 60 мм можно брать решения 32 мм в ширину, 70 мм – 40 мм в ширину.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'shop/img/8.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Запотевают окна – что делать?</h5>
        <p class="card-text">

<br>Окна плачут – почему так происходит?
Вы недавно установили профили. Два-три месяца излишки влаги могут испаряться из монтажных материалов.
Высокий уровень влажности. Если в квартире или доме он в целом выше среднего, окна будут потеть.
Плохая вентиляция помещений. Вытяжку в ванной, туалете, на кухне можно проверить, чтобы исключить проблемы в работе.
Квартира находится на верхних этажах. В данном случае явление будет объясняться процессами конвекции – то есть перенесением влажного теплого воздуха вверх.
</p>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'shop/img/7.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Панорамное остекление и порталы для идеального микроклимата в доме</h5>
        <p class="card-text"> Теплое остекление создает идеальный микроклимат в любом доме. Стеклянная поверхность занимает немалую (если не самую большую) площадь стены в современном доме.

Поэтому от его качества напрямую зависит сохранение комфортной температуры, а также уровень освещенности, шумоизоляции и чистоты воздуха в помещениях.</p>


      </div>

    </div>
  </div>
  </div>
{% endblock %}

